<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Football Data</title>
    <link rel="stylesheet" href="/static/bootstrap.max.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>

    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <h1>Football Data</h1>
            <hr class="star-light">
        </div>
    </header>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">Football Data Analysis</h1>
                        <p class="text-center"><span class="by">by</span> <a href="#">Pete Spangler </a><span class="date"> Dec 2020 </span></p><img class="img-fluid" src="/static/portfolio/datasportsgroup.png">
                    </div>
                    <div class="text">
                        <p>I have got the data from football reference, but I am not certain what to do with it yet.</p>

                        <h2>Future Plans</h2>
                        
                        <p>I plan on doing some sort of predictive analysis, for example a user will input or choose a current player and the opposition. Then, the data model will spit out an xG or such for that chosen player.</p>
                        <p>So you could choose Divock Origi and Barcelona FC and the result will be 2.0</p>
                        <figure><img class="img-fluid" src="/static/portfolio/SB_Regular.png">
                            <figcaption>Data from Stats Bomb and Data Sports Group</figcaption>
                        </figure>
                        <p>I do not have the toolkit yet to visualize what I want, but bookmark this page because once I figure it out, it will be pretty cool. I hope.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/static/js/freelancer.js"></script>
</body>

</html>